.steps {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.step {
    display: grid;
    grid-template-columns: 65% 35%;
    justify-items: center;
    align-items: center;
    text-align: justify;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ocr-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.editing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
}